PROJECT_NAME=Marketing Automation Backend

POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password
POSTGRES_DB=content_assistant_db

DATABASE_URL=postgresql+asyncpg://admin:your_password@localhost:5432/content_assistant_db

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=your_openai_model

CORS_ORIGINS=http://localhost:5173
SQL_ECHO=false

# Cloud SQL / Cloud Run
DB_USER=
DB_PASSWORD=
DB_NAME=
INSTANCE_UNIX_SOCKET=
